.content-work h2 {
	display: block;
	margin: 0.5em 0 0.5em 0
}
.content-work h2:before, .content-work h2:after {
	clear: both;
	content: "";
	display: table
}
.content-work h2:after {
	clear: both
}
.content-work h2 span {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 0.2em
}
.content-work p {
	margin: 0 0 0.5em
}
.content-work .section {
	float: left;
	margin: 0 0 0.5em;
	width: 100%
}
.content-work .section:before, .content-work .section:after {
	clear: both;
	content: "";
	display: table
}
.content-work .section:after {
	clear: both
}
.content-work .job-box {
	float: left;
	margin: 0 0 1em
}
.content-work .job-box h3 {
	display: inline-block;
	font-weight: bold
}
.content-work .job-box span {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #999;
	color: #fff;
	font-size: 0.625em;
	padding: 0.2em;
	line-height: 1em;
	position: relative;
	top: -3px
}
.content-work .job-box p {
	color: #999;
	margin: 0.5em 0 0.5em
}
.content-work ul.skills {
	float: left
}
.content-work ul.skills li {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin: 0em 0.8em 0.3em 0;
	padding: 0.2em;
	background: #999;
	color: #fff
}
.content-work ul.skills li.category {
	background: red
}